/*
 * LISTINGS COMPONENT
 * =============================================================================
 */

// Layout
.listings {
  background: $color-bg-light;
  right: 0;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  header {
    padding: 20px;
  }

  .card {

    &-container {
      max-width: 100%;
    }
  }
}

// Filter
header {
  .form-group {
    margin: 10px 20px 10px 0;

    label {
      margin-right: 5px;
    }
  }
}
