@import 'variables';

.map-container {
  background: #ccc;
  height: 400px;
  margin-left: 50%;
}

.listings {
  background: #000;
  left: 0;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
}
