@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@import 'variables';
@import 'listings';
@import 'map';
@import 'card';


body {
  font-family: 'Roboto', sans-serif;
}

.icon {

 svg {
   width: 100%;
   height: 100%;
 }
}
